<%- include('./header.ejs') %>

<script>
    deactiveLink();
    activeLink(2);
    activeLink(5);
  </script>

<div class="container my-5" id="contact">
    <p class="fs-2 text-center">Contact Page</p>
    <p class="fs-6 text-center">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae expedita quaerat obcaecati sapiente omnis amet, ducimus dolor voluptates possimus perferendis perspiciatis iure dolorum temporibus, blanditiis laudantium quasi pariatur non suscipit? Obcaecati, incidunt? Alias doloremque quis fugiat qui ratione, suscipit est vitae esse quo, id asperiores sapiente odit expedita earum animi?
    </p>
    <p class="fs-6 text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eos minima numquam ipsum nostrum totam porro maiores vitae ipsam quis. Nisi maxime inventore ipsum ducimus quibusdam in dicta, non eos officiis alias eius deserunt accusantium dolor? Repudiandae velit esse ullam error adipisci nihil nemo ducimus optio quidem eaque, veritatis provident saepe tenetur voluptatibus fuga minus, ab hic nobis placeat perferendis reiciendis exercitationem voluptas corporis illum. Cum tempore dolorum non reprehenderit vitae mollitia eum laboriosam repellat?
    </p>
    <p class="fs-6 text-center">
        Contact Info:
        <br>
        Email : <%= e %>
    </p>
</div>

<%- include('./footer.ejs') %>