<div class="end d-lg-flex container-fluid pb-3 pt-3">
    <div class="end-about">
      <p class="fs-4">ABOUT US</p>
      <div class="about-data">
        <p class="fs-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta provident?</p>
        <p class="fs-6">Lorem ipsum, dolor sit amet consectetur, ex.<p>
          <button class="btn ms-3" type="button"><ion-icon name="logo-facebook"></ion-icon></button>
          <button class="btn" type="button"><ion-icon name="logo-twitter"></ion-icon></button>
          <button class="btn" type="button"><ion-icon name="logo-instagram"></ion-icon></button>
          <button class="btn" type="button"><ion-icon name="mail-outline"></ion-icon></button>
      </div>
    </div>
    <div class="end-contact">
      <p class="fs-4 mb-4">CONTACT US</p>
      <div class="text-inline mb-3">
        <ion-icon class="me-3" name="home-outline"></ion-icon><p class="fs-6">Nanpura, Main Road, Surat</p>
      </div>
      <div class="text-inline mb-3">
        <ion-icon class="me-3" name="mail-outline"></ion-icon><p class="fs-6">meharpatel2512@gmail.com</p>
      </div>
      <div class="text-inline mb-3">
        <ion-icon class="me-3" name="call-outline"></ion-icon><p class="fs-6">+91 6354883965</p>
      </div>
      <div class="text-inline mb-3">
        <ion-icon class="me-3" name="send-outline"></ion-icon><p class="fs-6">+91 6354883965</p>
      </div>
    </div>
    <div class="end-open ">
      <p class="fs-4">OPENING HOURS</p>
      <p class="fs-6"> Mon - Thu  :  8am - 9pm </p><hr>
      <p class="fs-6"> Fri - Sat  :  8am - 1pm </p><hr>
      <p class="fs-6"> Sunday     :  9am - 10pm </e><hr>
    </div>
  </div>

  <footer class="text-center" style="background-color: rgb(40, 0, 77); color: aliceblue;">
        Copyright &copy; www.My_Web.com All rights reserved.
  </footer>
  </body>
</html>