::-webkit-scrollbar{
    display: none;
}

.navbar-brand img{
    height: 3em;
}

.profile{
    display: none;
}

.carousel{
    height: 33em;
    width: 100%;
}

.carousel .carousel-item img{
    height: 33em;
}

.cards{
  margin-left: 1em;
  width: 90%;
}

.card{
  width: 100%;
}

.profile-btns{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.profile-btns button{
  margin-bottom: 0.5em;
}

.end{
  background-color: rgb(98, 0, 190);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.end-about, .end-contact, .end-open{
  width: 80%;
  text-align: center;
  margin-top: 2em;
  overflow-wrap: break-word;
}

.end-contact .text-inline p{
  display: inline;
}

.card:hover{
  background-color: var(--clr);
  box-shadow: 0.5em 1em 2em black;
  transition: all 0.5s ease 0s;
  transform: translate(1.5);
}

@media screen and (min-width: 769px) {
  .navbar ul{
      margin-left: 35em;
    }

  .navbar-brand img{
      height: 3.5em;
      margin-left: 2em;
  }

  .profile{
    display: block  ;
    background-color: whitesmoke;
    height: 3.5em;
    width: 3.5em;
    border: 2% solid black;
    border-radius: 50%;
    overflow: hidden;
}

.profile-btns{
  margin-top: 1em;
  margin-bottom: 1em;
}

.card{
  width: 22em;
}

.profile img{
    height: 3.5em;
    margin-top: -0.5em;
}

.end{
  background-color: rgb(98, 0, 190);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.end-about{
  width: 25%;
  margin-right: 3em;
}

.end-about .btn{
  height: 100%;
}

.end-about .btn ion-icon{
  font-size: 1.5em;
  color: white;
}

.end-contact{
  width: 25%;
  margin-right: 3em;
}

.end-open{
  width: 25%;
}
}