::-webkit-scrollbar{
    display: none;
}

body{
    background-color: rgb(98, 0, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle{
    background-color: beige;
    height: 45em;
    width: 50em;
    display: flex;
    border-radius: 4%;
    overflow: hidden;
    box-shadow: 1em 2em 4em black;
}

.image{
    margin-left: -0.75em;
    height: 100%;
    width: 40%;
    background: url(../images/pic1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.reg{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.logo{
    height: 13%;
}

.logo img{
    height: 100%;
}

.inp_text{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(98, 0, 190);
}

input{
    align-self: center;
    width: 85%;
    height: 180%;
    background-color: rgba(98, 0, 190, 0.192);
    border: 0.1em solid rgb(98, 0, 190);
    border-radius: 0.5em;
}

input::placeholder{
    color: black;
}

.inp_btn input{
    height: 150%;
    width: 75%;
    background-color: rgb(98, 0, 190);
    color: white;
}

.inp_show{
    display: flex;
}

.inp_show .show_box{
    height: 100%;
}

.inp_show .show_box input{
    height: 100%;
}

@media screen and (max-width: 769px) {
    .image{
        display: none;
    }

    .reg{
        width: 100%;
    }
}